@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P"); 
:root {
    --material-icons-color: black;
    --field-color: gray;
    --field-background: white;
    --field-background-hover: #eee;
    --input-background: #eee;
    --overlay-background: rgba(44, 43, 45, 0.8);
    --overlay-caption-color: #eb4a40;
    --overlay-content-background: black;

    --header-background: linear-gradient(to right, black, black);
    --main-panel-background: linear-gradient(rgb(0, 0, 0), #fde0c5);
    --online-users-panel-background: linear-gradient(to right, #fde0c5, #facba6);
    --chat-panel-background: none;

    --title-color: #85E21F;
    --caption-color: white;

    --date-color: gray;

    --register-form-background: black;
    --warning-color: red;

    --button-color: white;
    --button-background: #881EE4;
    --button-background-hover: purple;
}
* {
    font-family: "Press Start 2P", sans-serif;
    box-sizing: border-box;
}

/* Basic */
body {
    color:black;
    min-width: 600px;
    min-height: 300px;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.center { text-align: center; }
.shadow { box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4); }

/* Google icon */
.material-icons {
    color: var(--material-icons-color);
}

/* Flexbox related */
.row, .col {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    padding: 0 0 0 5px;
}
.col { flex-direction: column; }
.spacer-0 { width: 0; height: 0; }
.spacer-1 { width: 5px; height: 5px; }
.spacer-2 { width: 10px; height: 10px; }
.spacer-grow { flex-grow: 1; }

/* Overlay */
.overlay {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: var(--overlay-background);
}
.overlay .caption {
    font-size: 120%;
    color: var(--overlay-caption-color);
}
.overlay .content {
    background: var(--overlay-content-background);
}
.warning {
    font-weight: bold;
    color: var(--warning-color);
}

/* Form related */
form input, form select {
    width: 100%;
}
input, select {
    font-size: 1rem;
    background: var(--input-background);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}
input::placeholder, select {
    color: gray;
}
button {
    font-weight: bold;
    height: 40px;
    border: 1px solid black;
    color: var(--button-color);
    background: var(--button-background);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    padding: 0 20px;
    transition: 1s background;
    cursor: pointer;
}
button:hover {
    background: var(--button-background-hover);
}
button:active {
    margin: 2px -2px -2px 2px;
    box-shadow: 0px 0px;
}
button.icon {
    height: inherit;
    border: none;
    border-radius: 2px;
    background: none;
    box-shadow: none;
    padding: 3px 5px;
    padding-top: 5px;
}
button.icon * {
    color: white;
}
button.icon:hover {
    background: var(--button-background-hover);
}
button.icon:active {
    margin: 2px -2px -2px 2px;
}

/* Data field caption and content */
.field-content {
    border-radius: 50px;
    padding: 10px 15px;
    background: var(--field-background);
    transition: 1s background;
}
.field-content * {
    color: var(--field-color);
}
.field-content:hover {
    background: var(--field-background-hover);
}
.user-name {
    white-space: nowrap;
}

/* Top level container */
#container {
    align-items: stretch;
    gap: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Header */
#header {
    height: 80px;
    background: var(--header-background);
    padding: 0 20px;
}
#title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 300%;
    text-transform: uppercase;
    color: var(--title-color);
    user-select: none;
}
#title .material-icons {
    color: var(--title-color);
    font-size: 36px;
}
#user-panel {
    padding: 0;
}
#signin-user {
    cursor: pointer;
}

/* Main panel */
#main-panel {
    display: none;
    height: calc(100% - 80px);
    background: var(--main-panel-background);
}

/* Chat area */
#chat-panel {
    flex-grow: 1;
    align-items: stretch;
    height: 100%;
    background: var(--chat-panel-background);
    padding: 0;
}
#chat-area {
    height: 100%;
    align-items: flex-start;
    justify-content: start;
    gap: 20px;
    overflow-y: auto;
    padding: 10px;
}
.chat-message-panel {
    align-items: flex-start;
    padding: 0;
}
.chat-message {
    align-items: start;
    gap: 5px;
    padding: 0;
}
.chat-date {
    font-size: 75%;
    color: var(--date-color);
}

/* Online users panel */
#online-users-panel {
	flex: 0 0 250px;
    height: 100%;
    padding: 0;
    background: var(--online-users-panel-background);
}
#online-users-area {
    flex-grow: 1;
    width: 100%;
    align-items: flex-start;
    justify-content: start;
    overflow-y: auto;
}

/* Signin overlay */
#information{
    width: 1005px;
    height: 187px;
    background: black;
    color: #b872f5;
    position: fixed;
    left: 5px; top: 100px;
    padding: 23px;
    line-height: 23px;
}

#login-instruction {
    width: 1005px;
    height: 100px;
    background: black;
    color: #af6ee8;
    position: fixed;
    left: 5px;
    padding: 23px;
    line-height: 23px;
    top: 680px;
}

#signin-form {
    width: 360px;
    height: 413px;
    align-self: stretch;
    background: url(static/signin_background.png);
    background-size: contain;
}

#signin-form .caption{
    line-height: 30px;
}

#register-form {
    width: 620px;
    height: 413px;
    background: url(static/register_background.jpeg);
    background-size: contain;
    padding: 20px;
}

#signin-form .caption, #register-form .caption{
    color: #85E21F;
    text-align: center;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

/* Edit user overlay */
#edit-user-form {
    width: 270px;
    align-self: stretch;
}

/* Game Container */
#game-container {
    position: relative;
}
#instruction {
    background: url(static/instruction_background.png);
    background-size: contain;
    font-size: 12px;
    color: white;
    position: relative;
    top: 562px;
    width: 1000px;
    /* height: calc(100%-642px); */
    padding: 10px;
    padding-bottom: 60px;
    line-height: 30px;
    /* border: 20px solid black; */
    /* box-sizing: border-box; */
}
canvas, #counter, #game-start, #game-over {
    position: absolute;
    top: 0px;
    left: 0px;
}
canvas, #game-start, #game-over {
    border: 1px solid rgb(0, 0, 0);
    width: 1000px;
    height: 562px;
    /* width: 1400px;
    height: 750px; */
}
canvas {
    background: url(static/background.jpeg);
    background-size: cover;
}
#game-start, #game-over {
    /* display:none; */
    background: rgba(1, 1, 1, 0.8);
}
#counter text {
    font-size: 130%;
    fill: white;
    stroke: black;
    stroke-width: 1px;
}
#game-start text {
    font-size: 150%;
    fill: white;
    text-anchor: middle;
}
#game-start #game-title {
    font-size: 400%;
    fill: url(#title-fill);
    stroke: black;
}

#game-over text {
    color: white;
    text-anchor: middle;
}

#game-over #game-over-title {
    font-size: 460%;
    color: black;
    stroke: #32eefb;
    stroke-width: 3px;
}

#game-over #game-over-rank {
    font-size: 150%;
    fill: #85E21F;;
}

#game-over-rank1, #game-over-rank2 {
    font-size: 130%;
    fill: white;
}

#game-over #game-over-subtitle {
    font-size: 150%;
    fill: #85E21F;;
}

#game-over-player1, #game-over-player2{
    font-size: 120%;
    fill: white;
}

#game-over-gem1, #game-over-gem2, #game-over-set1, #game-over-set2, #game-over-destroy1, #game-over-destroy2 {
    text-anchor: start;
    font-size: 120%;
    fill: white;
}



#back-to-login {
    font-size: 100%;
    fill: #32eefb;;
}